<h2>Schůzky</h2>
<ul>
  {meetings}
</ul>
<img src="/images/separator.png" alt="" class="separator">

<h2>Postavy</h2>
<ul>
  {people}
</ul>
<img src="/images/separator.png" alt="" class="separator">

<h2>Jména</h2>
{names}
<img src="/images/separator.png" alt="" class="separator">

<h2>Menu</h2>
<ul>
  <li><a href="/maps">Mapy</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<img src="/images/separator.png" alt="" class="separator">

<h2>Export</h2>
<ul>
  {exportLink}
</ul>

<h2>Sirien</h2>
<ul>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-o-cem-to-bude.html" target="_blank">RPG scénáristika 1: O čem to bude?</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-co-se-kdy-stane.html" target="_blank">RPG scénáristika 2: Co se kdy stane?</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-3-o-co-tu-ma-jit.html" target="_blank">RPG scénáristika 3: O co tu má jít?</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-4-co-s-pripravou.html" target="_blank">RPG scénáristika 4: Co s přípravou?</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-5-do-boje.html" target="_blank">RPG scénáristika 5: Do boje!</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-6-a-tohle-je-kdo.html" target="_blank">RPG Scénáristika 6: A tohle je kdo?</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-7-temne-horizonty.html" target="_blank">RPG Scénáristika 7: Temné horizonty</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-8-je-to-jinak.html" target="_blank">RPG Scénáristika 8: Je to jinak!</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-9-chaosu-vladne-rad.html" target="_blank">RPG Scénáristika 9: Chaosu vládne Řád!</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-10-kdo-s-kym-proti-komu.html" target="_blank">RPG Scénáristika 10: Kdo s kým proti komu</a></li>
  <li><a href="http://www.d20.cz/clanky/tipy-a-triky/rpg-scenaristika-11vic-nez-stroha-fakta.html" target="_blank">RPG Scénáristika 11: Víc, než strohá fakta</a></li>
</ul>
