<h2>Problém</h2>
<p>{problem}</p>
<img src="/images/separator.png" alt="" class="separator">

<h2>Lore</h2>
<ul>
  {lore}
</ul>
<img src="/images/separator.png" alt="" class="separator">

<h2>Příběhové otázky</h2>
<ul>
  {storyQuestions}
</ul>
<img src="/images/separator.png" alt="" class="separator">

<h2>Úvodní scéna</h2>
<p>{theOpeningScene}</p>
<img src="/images/separator.png" alt="" class="separator">

<h2>Postavy</h2>
<ul>
  {people}
</ul>
<img src="/images/separator.png" alt="" class="separator">

{events}
